body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-color: #4d311e8e;
    font-family: DM Serif Text, sans-serif;
    margin: 0;
}

.contenedor {
    position: relative;
}

.carta {
    border-left: 190px solid transparent;
    border-right: 190px solid transparent;
    border-top: 120px solid transparent;
    border-bottom: 120px solid transparent;
}



.mensaje {
    position: absolute;
    padding: 1.5rem;
    line-height: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Brush Script MT', cursive;
    font-size: 22px;
    background: 
  radial-gradient(circle at top left, #e6cfa1 0%, transparent 40%),
  radial-gradient(circle at bottom right, #d8b57a 0%, transparent 40%),
  linear-gradient(#f5deb3, #f0e0b8);
    width: 420px;
    height: 40px 30px;
    z-index: -1;
    transition: transform 0.75s ease-in-out;
    border: 3px solid #0000008a;
    border-radius: 6px;
    box-shadow:
     inset 0 0 40px rgba(0, 0, 0, 0.379),
     0 10px 25px rgba(0,0,0,0.4);
     font-family: 'DM Serif Text', serif;
     color: #4b2e14;
     font-size: 18px;
     line-height: 1.6;
     filter: sepia(25%);
}

.mensaje:before {
    content: "";
    border-style: dotted;
    position: absolute;
    top: 12px;
    left: 12px; 
    right: 12px; 
    bottom: 55px; 
}

.mensaje p{
    position: relative;
    top: -15px;
    font-size: 1.2rem;
}



.bx {
    position: absolute;
    color: #f6406a;
    top: 90px;
    right: 155px;
    font-size: 50px;
    animation: palpitar 0.6s linear infinite;
}


.psorpresa {
    margin-top: -15px;
}

.botones {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.boton {
    padding: 10px 20px;
    background: linear-gradient(135deg, #ff66b2, #ff4081);
    background-size: 200% 200%;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}

.boton:hover {
    background-position: 100% 100%;
    box-shadow: 0 6px 15px rgba(255, 0, 0, 0.3);
}

.abrir-superior {
    transform: rotateX(180deg);
}

.abrir-mensaje {
    transform: translateY(-100px);
}

.bx-rotada {
    color: #000000;
    animation: none; 
}

  
@keyframes palpitar {
    0% {
      transform: scale(1.07); /* Tamaño original */
    }
    80% {
      transform: scale(1.0); /* Aumentar el tamaño un poco */
    }
    100% {
      transform: scale(1.08); /* Regresar al tamaño original */
    }
}

@media (max-width: 768px) {

    .mensaje:before {
        content: "";
        border-style: dotted;
        position: absolute;
        top: 12px;
        left: 12px; 
        right: 12px; 
        bottom: 45px; 

    }
    
    .mensaje p{
        position: relative;
        top: -15px;
        font-size: 1rem;
    }
}